# Get your FREE Gemini API key at: https://aistudio.google.com/app/apikey
# No credit card needed. Free tier: 1,500 requests/day.

GEMINI_API_KEY=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
PORT=3000
